@import "../../../../styles.scss";

article.Social-item {
    border-radius: 2rem;
    box-sizing: border-box;
    margin: 1em 0;
    height: 10%;
    width: 100%;

    a {
        align-items: center;
        background: $secondary-light;
        border-radius: 2rem;
        box-shadow: 1px 1px rgba($color: #000000, $alpha: 0.20);
        box-sizing: border-box;
        color: $primary;
        display: flex;
        font-size: 1.75em;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        opacity: 1;
        padding: 0.25em 0;
        text-decoration: none;
        transition: opacity 1s ease-in;

        .link-label {
            flex: 2;
            text-align: center;
        }

        i {
            flex: 1;
            font-size: 2em;
            text-align: center;
        }
    }

    a:hover {
        background:  rgba($color: $secondary, $alpha: 0.5);
    }

    @keyframes link-hover {
        0% {
            background: rgba($color: $secondary, $alpha: 0);
        }

        25% {
            background: rgba($color: $secondary, $alpha: 0.125);
        }

        50% {
            background: rgba($color: $secondary, $alpha: 0.25);
        }

        75% {
            background: rgba($color: $secondary, $alpha: 0.375);
        }

        100% {
            background: rgba($color: $secondary, $alpha: 0.5);
        }
    }

    @media(min-width: 1024px) {
        & {
            height: 5%;
            width: 30em;
        }

        a {
            font-size: 2em;
        }
    }
}

