$primary: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$primary-contrast: #ffffff;

$secondary: #aeea00;
$secondary-light: #e4ff54;
$secondary-dark: #79b700;
$secondary-contrast: #000000;


$nav-mobile-height: 5em;