@import './shared/styles.scss';

* {
  margin: 0;
}

.material-icons-round.md-18 { font-size: 18px; }
.material-icons-round.md-24 { font-size: 24px; }
.material-icons-round.md-36 { font-size: 36px; }
.material-icons-round.md-48 { font-size: 48px; }

.App {
  background: $primary-dark;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .Header-wrapper {
    transition: height 0.3s ease-in;
    height: 5em;

    &.hidden {
      overflow: hidden;
      height: 0em;
    }
  }
  
  .Main-wrapper {
    overflow: auto;
    flex: 1
  }
  
  .Nav-wrapper  {
    box-sizing: border-box;
    min-height: 5%;
    padding: 0.5em 0;
  }
  
  .Nav-mobile-wrapper {
    height: $nav-mobile-height;
    position: relative;
    box-shadow: 0 -1px rgba($color: $pure, $alpha: 0.5);
  }
  
  @media(max-width: 1024px) {
    .Header-wrapper {
      height: 4em;
    }
  }
}

