.Social {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    padding: 2em;
    width: 100%;

    @media(min-width: 1024px) {
        & {
            justify-content: flex-start;
        }
    }
}